header {
    position: relative;
    margin: 0;
    height: 400px;
    width: 100%;
    background-size: auto auto;
    background-image: url("../statics/header.jpg");
    color: white;

    .wrap {
        position: relative;
        margin: 0;
        height: 400px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    h1 {
        position: absolute;
        margin: 0;
        bottom: 35px;
        left: 10px;
        width: 100%;
        font-size: 40px;
        opacity: 0.8;
    }
    h2 {
        position: absolute;
        margin: 0;
        bottom: 15px;
        left: 10px;
        width: 100%;
        font-size: 20px;
        opacity: 0.8;
    }
}
@media screen and (max-width: 1024px) { }
@media screen and (max-width: 896px) { }
/* スマホ用 */
@media screen and (max-width: 480px) { 
    header {
        position: relative;
        margin: 0;
        height: 200px;
        width: 100%;
        background-image: url("../statics/header.jpg");
        background-size: auto 320px;
        color: white;

        .wrap {
            position: relative;
            margin: 0;
            height: 200px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        h1 {
            position: absolute;
            margin: 0;
            bottom: 30px;
            left: 10px;
            width: 100%;
            font-size: 20px;
            opacity: 0.8;
        }
        h2 {
            position: absolute;
            margin: 0;
            bottom: 15px;
            left: 10px;
            width: 100%;
            font-size: 12px;
            opacity: 0.8;
        }
    }
}