@media screen and (max-width: 1024px) { }
@media screen and (max-width: 896px) { }
/* スマホ用 */
@media screen and (max-width: 480px) { 
    .no-task {
        margin-top: 20px;
        text-align: center;
        color: #bbb;
        font-size: 20px;
    }
    ul {
        width: 100%;
        padding: 0;
        
        li {
            display: block;
            margin-bottom: 15px;
            padding: 10px;
            height: 110px;
            background-color: #2563a1;
            color: white;
            list-style-type: none;
            border-radius: 0.45em;

            button {
                color: white;
            }
        }
    }
}